:root{

    --primary :#111;/**/
    --bcgWhite : #ffffff;
    --dark : #343a40;
    --azul : #0d1c39;
    --semiWhite: #f7f7f7;
    --secundary:#444;
    --distaque:#2fab8e;
    --titleP: #ccc;
    --textColor:#ccc;
}

*{
    box-sizing: border-box;
}
body{

    background-color:var(--primary);
    color:var(--bcgWhite);
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    margin: 0;
}

.lists{

    margin-top: -100px;
}
 